.header {
    color: rgb(250, 166, 57);
    text-align: center;
    font-size: 15pt;
    font-family: verdana, arial;
    background-color: rgb(36, 36, 36);
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
    text-align: center;
 
    margin-top: 10px;
}
span {
margin-left: 2%;
display: block;
background-color: rgb(0, 0, 0);  
}

.item {
    margin-top: 1%;
    color: rgb(250, 166, 57);
    font-size: 13pt;
    font-family: verdana, arial;
    text-align: left;
    background-color: rgb(0, 0, 0);
    padding-left: 2%;
}

.h2_titulos {
    margin-bottom: 0%;
    color: rgb(250, 166, 57);
    font-size: 13pt;
    font-family: verdana, arial;
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 2%;
    padding-top: 2%;
    padding-bottom: 0%;
}

.cuerpo {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    color: antiquewhite;
    margin: 2% 2% 2%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}




.texto {
    color: antiquewhite;
}

a:link {
    color: cornflowerblue
}

a:visited {
    color: rgb(129, 129, 129)
}

a:hover {
    color: #ffffff;
}